*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    font-size: 118.75%;

    /* --global--concept--size */
    --global--spacer--xs: .25rem;
    --global--spacer--sm: .5rem;
    --global--spacer--md: 1rem;
    --global--spacer--lg: 2rem;

    /* --global--concept--PropertyCamelCase */
    --global--body--FontSize: 1rem;
    --global--body--FontFamily: 'Open Sans', sans-serif;

    --global--body--BackgroundColor: #ccc;

    /* --global--concept--indicator--modifier */
    --global--color--white: 255, 255, 255;

    --global--color--primary: 61, 181, 206;
    --global--color--primary--100: var(--global--color--primary);
    --global--color--primary--500: 12, 36, 41;

    --global--color--secondary: 244, 136, 34;
    --global--color--secondary--100: var(--global--color--secondary);
    --global--color--secondary--200: 62, 181, 206;
}

body {
    margin: 0;
    font-size: var(--global--body--FontSize);
    font-family:  var(--global--body--FontFamily);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
