$headline-color: $color-white !default;
$headline-weight: 900 !default;
$headline-weight-90: 700 !default;
$headline-letterspacing: -1.5px !default;
$h1-color: $headline-color !default;
$h2-color: $headline-color !default;
$h3-color: $headline-color !default;
$h4-color: $headline-color !default;
$h5-color: $headline-color !default;
$h6-color: $headline-color !default;

.content h1,
.h1 {
    @include media(0, $range-hand) {
        font-size: $font-size-400;
        line-height: $line-height-70;
    }
    @include media($range-lap, false) {
        font-size: $font-size-700;
        line-height: $line-height-70;
    }
    color: $h1-color;
    font-weight: $headline-weight;
}

.content h2,
.h2 {
    @include media(0, $range-hand) {
        margin: ($line-height-70/2) 0;
        font-size: $font-size-300;
        line-height: $line-height-70;
    }
    @include media($range-lap, false) {
        margin: ($line-height-100/2) 0;
        font-size: $font-size-400;
        line-height: $line-height-100;
    }
    color: $h2-color;
    letter-spacing: $headline-letterspacing;
    font-weight: $headline-weight;
}

.content h3,
.h3 {
    @include media(0, $range-hand) {
        margin: ($line-height-70/2) 0;
        font-size: $font-size-200;
        line-height: $line-height-70;
    }
    @include media($range-lap, false) {
        margin: ($line-height-100/2) 0;
        font-size: $font-size-200;
        line-height: $line-height-100;
    }
    color: $h3-color;
    letter-spacing: $headline-letterspacing;
    font-weight: $headline-weight;
}

.content h4,
.h4 {
    @include media(0, $range-hand) {
        margin: ($line-height-70/2) 0;
        font-size: $font-size-100;
        line-height: $line-height-70;
    }
    @include media($range-lap, false) {
        margin: ($line-height-100/2) 0;
        font-size: $font-size-100;
        line-height: $line-height-100;
    }
    color: $h4-color;
    letter-spacing: normal;
    font-weight: $headline-weight-90;
}

.content h5,
.h5 {
    @include media(0, $range-hand) {
        margin: ($line-height-70/2) 0;
        font-size: $font-size-90;
        line-height: $line-height-70;
    }
    @include media($range-lap, false) {
        margin: ($line-height-100/2) 0;
        font-size: $font-size-90;
        line-height: $line-height-100;
    }
    color: $h5-color;
    letter-spacing: normal;
    font-weight: $headline-weight-90;
}

.content h6,
.h6 {
    @include media(0, $range-hand) {
        margin: ($line-height-70/2) 0;
        font-size: $font-size-80;
        line-height: $line-height-70;
    }
    @include media($range-lap, false) {
        margin: ($line-height-100/2) 0;
        font-size: $font-size-80;
        line-height: $line-height-100;
    }
    color: $h6-color;
    letter-spacing: normal;
    font-weight: $headline-weight-90;
}
