$link-color: $color-secondary !default;
$link-border-color: $color-secondary !default;
$link-color-hover: $color-primary !default;
$link-border-color-hover: $color-primary !default;
$link-color-focus: $color-secondary-200 !default;
$link-border-color-focus: $color-secondary-200 !default;

.content a,
.a {
    border-bottom: 1px solid $link-color;
    color: $link-border-color;
    text-decoration: none;
    transition: color 0.2s ease-in;

    &:hover {
        border-bottom-color: $link-border-color-hover;
        color: $link-color-hover;
    }
    &:focus {
        outline: none;
        border-bottom-color: $link-border-color-focus;
        color: $link-color-focus;
    }
}
