$video-filter-background-color: rgba($color-primary-500, 0.8) !default;

.video {
    animation: fadeIn 1.0s ease-in;
}
.video__container {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.video__container .poster img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.video__filter {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: $video-filter-background-color;
}
.video__source {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
