/*
Font Families

Font Families Variables

*/

$font-family-sans-serif: 'Ubuntu', 'Arial', sans-serif !default;
$font-family-serif: 'Georgia', 'Times', serif !default;
$font-family-monospace: 'Menlo', 'Consolas', 'Courier', monospace !default;
