$color-primary: rgb(61, 181, 206);
$color-primary-500: shade($color-primary, 80%);
$color-primary-400: shade($color-primary, 60%);
$color-primary-300: shade($color-primary, 40%);
$color-primary-200: shade($color-primary, 20%);
$color-primary-100: $color-primary;
$color-primary-90: tint($color-primary, 20%);
$color-primary-80: tint($color-primary, 40%);
$color-primary-70: tint($color-primary, 60%);
$color-primary-60: tint($color-primary, 80%);

$color-secondary: rgb(244, 136, 34);
$color-secondary-500: shade($color-secondary, 80%);
$color-secondary-400: shade($color-secondary, 60%);
$color-secondary-300: shade($color-secondary, 40%);
$color-secondary-200: shade($color-secondary, 20%);
$color-secondary-100: $color-secondary;
$color-secondary-90: tint($color-secondary, 20%);
$color-secondary-80: tint($color-secondary, 40%);
$color-secondary-70: tint($color-secondary, 60%);
$color-secondary-60: tint($color-secondary, 80%);


$color-white: rgb(255, 255, 255);
