$button-text-color: $color-primary-80 !default;
$button-background-color: rgba($color-primary-100, 0.4) !default;
$button-shadow: 0 2px 0 rgba($color-primary-100, 0.6) !default;
$button-text-color-hover: $color-white !default;
$button-background-color-hover: $color-primary-200 !default;

.button {
    animation: fadeIn 0.2s ease-in;
    position: relative;
    background-color: $button-background-color;
    color: $button-text-color;
    cursor: pointer;
    padding: 0.6em 1.5em;
    border-radius: 40px;
    box-shadow: $button-shadow;
    font-size: $font-size-100;
    font-family: $font-family-sans-serif;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;

    &:focus {
        outline: none;
    }

    &:active {
        top: 2px;
        box-shadow: none;
    }

    &:hover {
        background-color: $button-background-color-hover;
        color: $button-text-color-hover;
    }

}


