// Fadein
//animation: fadeIn 1.0s ease-in;
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Fadeout
// animation: fadeOut 1.0s ease-out;
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


// slideInRight
// animation: slideInRight 1.0s ease-in;
@keyframes slideInRight {
    0% {
        transform: translateX(2000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

// slideOutRight
// animation: slideOutRight 1.0s ease-in;
@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(2000px);
        opacity: 0;
    }
}
