$body-text-color: $color-white !default;
$body-background-color: $color-primary-500 !default;

body {
    background-color: $body-background-color;
    color: $body-text-color;
    font-size: $font-size-200;
    font-family: $font-family-sans-serif;
    line-height: $line-height-100;
}
